
section {
    margin-top: 200px;
}

section .color {
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1) {
    top: 10px;
    left: 10px;
    width: 750px;
    height: 900px;
    background:#49b89c;
}

section .color:nth-child(2) {
    bottom: 10px;
    right: 10px;
    width: 750px;
    height: 900px;
    background: #3b6dad;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 500px;
    color: black;
    font-weight: bold;
    position: relative;
}